@layer components {
  .richTextEditor {
    &__bubbleMenu {
      @apply flex gap-2 flex-nowrap bg-white w-max p-2 shadow border rounded-md;
    }
    .ProseMirror {
      outline: none;
      * {
        @apply text-gray-600;
      }
      p, img {
        @apply mb-6 last:mb-0 leading-relaxed;
      }
      ul {
        @apply list-disc;
      }
      ol {
        @apply list-decimal;
      }
      ol, ul {
        @apply list-outside mb-6 last:mb-0 pl-6;
        li {
          @apply pl-3 leading-loose;
        }
      }
      h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
      }
    }
  }
}
