@tailwind base;
@tailwind components;
@layer components {
  .disclosure {
    @apply border-y border-b-0 last:border-b;
    .header {
      @apply p-3 flex justify-between items-center w-full hover:bg-slate-100 transition-all font-semibold text-gray-500;
    }
  }
  .post-card-item {
    @apply rounded-2xl min-w-0 m-3 bg-white;
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
    border-color: rgba(0, 0, 0, 0.567);
  }
  .divider {
    border-block-start: 1px solid rgba(5, 5, 5, 0.05);
  }
  .blog-post-content {
    * {
      @apply text-gray-600;
    }
    > p, > img {
      @apply mb-6 last:mb-0 leading-relaxed;
    }
    > h4 {
      @apply font-bold mb-2 text-indigo-950;
    }
    > ul {
      @apply list-disc list-inside leading-relaxed mb-6 last:mb-0;
    }
    > ol {
      @apply list-decimal list-inside leading-relaxed mb-6 last:mb-0;
    }
    pre {
      @apply mb-6 last:mb-0;
      code {
        @apply rounded-md;
      }
    }
  }
  .input {
    @apply w-full border shadow-md shadow-[#00000010] rounded-md outline-none py-2 px-3 text-sm leading-5 text-gray-900 focus:ring-0;
  }
  .message {
    @apply min-w-[200px] border border-gray-100 p-3 rounded-lg shadow-lg bg-white;
    position: fixed;
    top: 24px;
    left: 50%;
    line-height: 1.3;
    box-shadow: 0px 5px 17px #00021f13;
    animation: slideUpIn 200ms forwards;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    display: flex;
    align-items: center;
    column-gap: 8px;
    z-index: 99999;
    &.closing {
      animation: slideDownOut 200ms forwards;
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    }
    .message-icon-wrapper {
      &.success {
        @apply text-green-400;
      }
      &.error {
        @apply text-red-400;
      }
    }
  }
  .breadcrumb-item {
    &:last-child {
      & > div:nth-of-type(2) {
        display: none;
      }
    }
  }
  .dropdown {
    animation: dropdownIn 200ms forwards;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    &.closing {
      animation: dropdownOut 200ms forwards;
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    }
  }
  .dropdown-item {
    & > *::after {
      position: absolute;
      inset: 0;
      content: "";
    }
    &, * {
      @apply no-underline text-gray-500 hover:text-white cursor-pointer
    }
  }
  .blocknote-editor {
    div[data-content-type="paragraph"] {
      @apply mb-5;
    }
  }
  .illustration3d-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
  a {
    @apply text-blue-600 underline;
  }
  input {
    @apply placeholder:text-gray-400;
    &[type="checkbox"] {
      @apply h-4 w-4 rounded border-gray-300 text-sky-600 focus:ring-sky-500;
    }
  }
  .navbar-menu-item {
    @apply text-slate-500 hover:text-indigo-900 transition-all duration-300 font-semibold;
    &.menu-active {
      @apply text-indigo-500;
    }
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-color));
}

.navbar-shadow {
  box-shadow: rgba(30, 27, 75, 0.12) 0px 10px 15px -10px;
}

@keyframes dropdownIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(0.8);
  }
  to {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleY(1);
  }
}

@keyframes dropdownOut {
  0% {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(0.8);
  }
}

@keyframes slideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: translateX(-50%) scaleY(0.8);
  }
  to {
    opacity: 1;
    transform-origin: 0 0;
    transform: translateX(-50%) scaleY(1);
  }
}

@keyframes slideDownOut {
  0% {
    opacity: 1;
    transform-origin: 0 0;
    transform: translateX(-50%) scaleY(1);
  }
  to {
    opacity: 0;
    transform-origin: 0 0;
    transform: translateX(-50%) scaleY(0.8);
  }
}

@import "./spinner";
@import "./modal";
@import "./text_editor";
@import "./tooltip";
@import "./skeleton";
@import "./button";